RateCalculator/RateCalculatorClient/Service References/RateCalService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RateCalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RateCalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RateCalculatorEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LowerstProductRate" type="xs:double" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductRate" type="xs:double" />
      <xs:element minOccurs="0" name="ProgramId" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramRate" type="xs:double" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateCalculatorEntity" nillable="true" type="tns:RateCalculatorEntity" />
  <xs:complexType name="ArrayOfRateCalculatorEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateCalculatorEntity" nillable="true" type="tns:RateCalculatorEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRateCalculatorEntity" nillable="true" type="tns:ArrayOfRateCalculatorEntity" />
</xs:schema>